
  <!-- Footer Section -->

  <footer class="container-fluid">
    <p class="footer">© Copyright 2020-2021 C.S Academy</p>
    <!-- <a href="https://www.linkedin.com/in/surya-prakash-c-9a7b14130/"><i class="icon fab fa-linkedin-in fa-3x"></i></a>
    <a href="#"><i class="icon fab fa-microsoft fa-3x"></i></a> -->
    <!-- <a href="#"><i class="icon fab fa-apple fa-5x"></i></a> -->

    <a style="color:#fff;" href="https://www.facebook.com/shaurya.chaudhary.3958/"><i class="icon fab fa-facebook-square fa-5x"></i></a>
    <a style="color:#fff;" href="https://www.instagram.com/majestic_artist_04/"><i class="icon fab fa-instagram fa-5x"></i></a>
    <a style="color:#fff;" href=""><i class="icon fab fa-twitter fa-5x"></i></a>
  </footer>

</body>

</html>
