<!-- Signup modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <img class="images" src="images/C.S Academy.png" alt="">
        <h5 class="modal-title" id="exampleModalLabel">Signup for an account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="" action="/signup" method="post">
          <div class="form-group Form">
            <label for="recipient-name" class="col-form-label">Username</label>
            <input type="text" class="form-control" placeholder="Enter your username" id="recipient-name">
            <small id="emailHelp" class="form-text text-muted">Your unique username must be less than 10 characters (only lowecase letters, numbers & underscores allowed) with no spaces.</small>
            <br>
            <label for="recipient-name" class="col-form-label">First Name</label>
            <input type="text" class="form-control" placeholder="Enter your First Name" id="recipient-name">
            <br>
            <label for="recipient-name" class="col-form-label">Last Name</label>
            <input type="text" class="form-control" placeholder="Enter your Last Name" id="recipient-name">
            <br>
            <label for="recipient-name" class="col-form-label">Your Email</label>
            <input type="email" class="form-control" placeholder="Enter your Email" id="recipient-name">
            <br>
            <button type="button" class="btn btn-danger" style="margin-left:0px;">Send OTP</button>
            <br>
            <label for="recipient-name" class="col-form-label">Enter OTP</label>
            <input type="text" class="form-control" placeholder="Enter OTP" id="recipient-name">
            <br>
            <label for="recipient-name" class="col-form-label">Choose Password</label>
            <input type="text" class="form-control" placeholder="Choose Password" id="recipient-name">
            <small id="emailHelp" class="form-text text-muted">Your unique password must be more than 8 characters (only lowecase letters,special symbols, numbers & underscores allowed) with no spaces.</small>
            <br>
            <label for="recipient-name" class="col-form-label">Retype Password</label>
            <input type="text" class="form-control" placeholder="Retype Password" id="recipient-name">
            <br>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Signup</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
