<%- include("header") -%>
<title>Videos-C.S Academy</title>
<%- include("navbar") -%>
<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">WEB DEVELOPMENT COURSE 2020</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">FRONTEND WEB DEVELOPMENT</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">HTML</a>
      <a class="list-group-item list-group-item-action" id="list-message-list" data-toggle="list" href="#list-message" role="tab" aria-controls="message">CSS</a>
      <a class="list-group-item list-group-item-action" id="list-message1-list" data-toggle="list" href="#list-message1" role="tab" aria-controls="message1">BOOTSTRAP</a>
      <a class="list-group-item list-group-item-action" id="list-message2-list" data-toggle="list" href="#list-message2" role="tab" aria-controls="message2">JAVASCRIPT</a>
      <a class="list-group-item list-group-item-action" id="list-message3-list" data-toggle="list" href="#list-message3" role="tab" aria-controls="message3">DOCUMENT OBJECT MODEL (DOM)</a>
      <a class="list-group-item list-group-item-action" id="list-message4-list" data-toggle="list" href="#list-message4" role="tab" aria-controls="message4">JQUERY</a>
      <a class="list-group-item list-group-item-action" id="list-message5-list" data-toggle="list" href="#list-message5" role="tab" aria-controls="message5">UNIX COMMAND LINE</a>
      <a class="list-group-item list-group-item-action" id="list-message6-list" data-toggle="list" href="#list-message6" role="tab" aria-controls="message6">BACKEND WEB DEVELOPMENT</a>
      <a class="list-group-item list-group-item-action" id="list-message7-list" data-toggle="list" href="#list-message7" role="tab" aria-controls="message7">NODE JS</a>
      <a class="list-group-item list-group-item-action" id="list-message8-list" data-toggle="list" href="#list-message8" role="tab" aria-controls="message8">API (APPLICATION PERIPHERAL INTERFACE)</a>
      <a class="list-group-item list-group-item-action" id="list-message9-list" data-toggle="list" href="#list-message9" role="tab" aria-controls="message9">EXPRESS</a>
      <a class="list-group-item list-group-item-action" id="list-message10-list" data-toggle="list" href="#list-message10" role="tab" aria-controls="message10">EJS</a>
      <a class="list-group-item list-group-item-action" id="list-message10-list" data-toggle="list" href="#list-message10" role="tab" aria-controls="message10">DATABASES</a>
      <a class="list-group-item list-group-item-action" id="list-message10-list" data-toggle="list" href="#list-message10" role="tab" aria-controls="message10">MONGO DB</a>
      <a class="list-group-item list-group-item-action" id="list-message10-list" data-toggle="list" href="#list-message10" role="tab" aria-controls="message10">MONGOOSE</a>
    </div>
  </div>
  <div class="col-8 ">
    <div class="tab-pane show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
      <br>
      <h1> Web Development Course 2020</h1>
      <hr>
      <p>Web development is the work involved in developing a Web site for the Internet (World Wide Web) or an intranet (a private network).Web development can range from developing a simple single static page of plain text to complex Web-based
        Internet applications (Web apps), electronic businesses, and social network services.
        A more comprehensive list of tasks to which Web development commonly refers, may include Web engineering, Web design, Web content development, client liaison, client-side/server-side scripting, Web server and network security configuration,
        and e-commerce development.</p>
      <p>In this course we learn how we make websites from scratch.</p>
    </div>

    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
      <br>
      <h2>Frontend web development</h2>
      <br>
      <p>Front-end web development is the practice of converting data to a graphical interface, through the use of HTML, CSS, and JavaScript, so that users can view and interact with that data.</p>
      <hr>
    </div>
    <div class="tab-content" id="nav-tabContent">

      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
        <br>
        <h2>Module-1 : HTML </h2>
        <br>
        <hr>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <iframe width="428" height="250" src="https://www.youtube.com/embed/VTS23Uw5ckU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <iframe width="428" height="250" src="https://www.youtube.com/embed/iqOxqVF38yk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
              <iframe width="428" height="250" src="https://www.youtube.com/embed/BsVMWw5BQNc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <iframe width="428" height="250" src="https://www.youtube.com/embed/X10OSvudr8w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
              <iframe width="428" height="250" src="https://www.youtube.com/embed/Xv0KSe8YAaA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <iframe width="428" height="250" src="https://www.youtube.com/embed/ZNSvpiuoTHk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
              <iframe width="428" height="250" src="https://www.youtube.com/embed/pg0uN3aSYaU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <iframe width="428" height="250" src="https://www.youtube.com/embed/HdRF3wStkCc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span></a>
        </div>
        <br>
      </div>
      <div class="tab-pane fade" id="list-message" role="tabpanel" aria-labelledby="list-message-list">
        <br>
        <h2>Module 2 : CSS</h2>
        <br>
        <hr>
        <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
          <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>

          </a>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <iframe width="428" height="250" src="https://www.youtube.com/embed/fwvpypdKhRI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <iframe width="428" height="250" src="https://www.youtube.com/embed/hXwwoE5pzg4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
              <iframe width="428" height="250" src="https://www.youtube.com/embed/tanglSsW1Lk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <iframe width="428" height="250" src="https://www.youtube.com/embed/i6R0H3y0yOM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
              <iframe width="428" height="250" src="https://www.youtube.com/embed/QOhwcIGxuRo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <iframe width="428" height="250" src="https://www.youtube.com/embed/Mus8YMGaO6w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="carousel-item">
              <iframe width="428" height="250" src="https://www.youtube.com/embed/3p48DtRVsAQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <iframe width="428" height="250" src="https://www.youtube.com/embed/VnzxHEpKCsY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span></a>
          </div>
        </div>
        <br>
      </div>
      <div class="tab-pane fade" id="list-message1" role="tabpanel" aria-labelledby="list-message1-list">
        <br>
        <h2>Module 3 : Bootstrap</h2>
        <br>
        <hr>
        <div id="carouselExampleControl-1" class="carousel slide" data-ride="carousel">
          <a class="carousel-control-prev" href="#carouselExampleControls-1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <iframe width="428" height="250" src="https://www.youtube.com/embed/Q7CmDo9cWko" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span></a>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>

  <%- include("footer") -%>
